<div class="home">
    <div class="parallax home-image"></div>
    <div class="title">
        <h1 class="font text-center title-text">Mexico</h1>
    </div>
    
    <div class="title-content content container">
        <h1 class="text-center divider">Portfolio</h1>
        <h3 class="text-center">Enclosed is a portfolio examining the culture of
        Mexico through various artifacts.</h3>
    </div>
    
    <div class="parallax city-image"></div>
    
    <div class="content container">
        <h1 class="text-center divider">Poem</h1>
        <h2 class="text-center">No More Clichés by Octavio Paz</h2>
        <p class="text-center">(translated into English)</p>
        <div class="col-md-6">
            <h3 class="align-right">Poem</h3>
            <h4 class="align-right">
                Beautiful face<br>
                That like a daisy opens its petals to the sun<br>
                So do you<br>
                Open your face to me as I turn the page.<br>
                
                Enchanting smile<br>
                Any man would be under your spell,<br>
                Oh, beauty of a magazine.<br>
                
                How many poems have been written to you? <br>
                How many Dantes have written to you, Beatrice? <br>
                To your obsessive illusion<br>
                To you manufacture fantasy.<br>
                
                But today I won't make one more Cliché<br>
                And write this poem to you.<br>
                No, no more clichés.<br>
                
                This poem is dedicated to those women<br>
                Whose beauty is in their charm, <br>
                In their intelligence, <br>
                In their character, <br>
                Not on their fabricated looks.<br>
                
                This poem is to you women, <br>
                That like a Shahrazade wake up<br>
                Everyday with a new story to tell, <br>
                A story that sings for change<br>
                That hopes for battles: <br>
                Battles for the love of the united flesh<br>
                Battles for passions aroused by a new day<br>
                Battle for the neglected rights<br>
                Or just battles to survive one more night.<br>
                
                Yes, to you women in a world of pain<br>
                To you, bright star in this ever-spending universe<br>
                To you, fighter of a thousand-and-one fights<br>
                To you, friend of my heart.<br>
                
                From now on, my head won't look down to a magazine<br>
                Rather, it will contemplate the night<br>
                And its bright stars, <br>
                And so, no more clichés. 
            </h4>
        </div>
        <div class="col-md-6">
            <h3>Response</h3>
            <h1>--insert response here--</h1>
        </div>
        
        <div class="col-md-8 col-md-offset-2">
            <iframe class="full-width doc-height" src="https://docs.google.com/document/d/e/2PACX-1vQGr0hayG1fVwFbIbsZmnRg-aAHgFr4sxobYr3xMDKaJ7TnyGhekAeqWpAab5Y2oYE7Sff1U2QLYDhW/pub?embedded=true"></iframe>
        </div>
    </div>
    
    <div class="parallax resort-image"></div>
    
    <div class="content container">
        <h1 class="text-center divider">Song</h1>
        <h2 class="text-center">La Llorana by ---</h2>
        
        
        <div class="col-md-8 col-md-offset-2">
            <iframe class="full-width doc-height" src="https://docs.google.com/document/d/e/2PACX-1vRqcHzpk7s24getQ1-hmKPwYl_CirrWETOh-RWgnWjJFtNDCOGMMZifvmR0gaykUXsiu0j1qIrG7DLB/pub?embedded=true"></iframe>        
        </div>
    </div>
    
    <div id="song-notes">
    </div>

</div>