<div class="home">
    <div class="parallax home-image"></div>
    <div class="title">
        <h1 class="font text-center title-text">Mexico</h1>
    </div>
    
    <div class="title-content content container">
        <h1 class="text-center divider">Portfolio of Mexico</h1>
        <h2 class="text-center" style="margin-top: -30px">Created By: Sam W</h2>
        <br>
        <h3 class="text-center">Enclosed is a portfolio examining the culture of
        Mexico through various artifacts. A country on the southern tip of North
        America, it's name originates from the indigenous tribes living there
        before European occupation. Mexico was home to many early civilizations:
        the Olmec, the Maya, the Toltec, and the Aztec Empire. Spanish conquest
        brought an end to the tribal societies, leaving it's mark through
        the language the Mexicans speak today. After it's independance, Mexico 
        streched all the way Canada, occupying most of what is now the western 
        United States. Today, Mexico presents a rich culture. A combination of 
        wonderful food, large festivities, and beautiful artwork give us a look 
        into Mexico and it's people.</h3>
    </div>
    
    <div class="parallax city-image"></div>
    
    <div class="content container">
        <h1 class="text-center divider">Poem</h1>
        <h2 class="text-center">No More Clichés by Octavio Paz</h2>
        <p class="text-center">(translated into English)</p>
        <div class="col-md-6">
            <h3 class="align-right">Poem</h3>
            <h4 class="align-right">
                Beautiful face<br>
                That like a daisy opens its petals to the sun<br>
                So do you<br>
                Open your face to me as I turn the page.<br>
                
                Enchanting smile<br>
                Any man would be under your spell,<br>
                Oh, beauty of a magazine.<br>
                
                How many poems have been written to you? <br>
                How many Dantes have written to you, Beatrice? <br>
                To your obsessive illusion<br>
                To you manufacture fantasy.<br>
                
                But today I won't make one more Cliché<br>
                And write this poem to you.<br>
                No, no more clichés.<br>
                
                This poem is dedicated to those women<br>
                Whose beauty is in their charm, <br>
                In their intelligence, <br>
                In their character, <br>
                Not on their fabricated looks.<br>
                
                This poem is to you women, <br>
                That like a Shahrazade wake up<br>
                Everyday with a new story to tell, <br>
                A story that sings for change<br>
                That hopes for battles: <br>
                Battles for the love of the united flesh<br>
                Battles for passions aroused by a new day<br>
                Battle for the neglected rights<br>
                Or just battles to survive one more night.<br>
                
                Yes, to you women in a world of pain<br>
                To you, bright star in this ever-spending universe<br>
                To you, fighter of a thousand-and-one fights<br>
                To you, friend of my heart.<br>
                
                From now on, my head won't look down to a magazine<br>
                Rather, it will contemplate the night<br>
                And its bright stars, <br>
                And so, no more clichés. 
            </h4>
        </div>
        <div class="col-md-6">
            <h3>Response</h3>
            <h4>
                The Poem is a stance on love poems, it criticizes the cliche of 
                focusing on the physical characteristics of women, and instead 
                appeals to their intelligence and personality. Written in a very 
                frank matter, the poem is direct and to the point. While not a large 
                underlying issue or major cultural piece of Mexico, minute details 
                about Mexico’s culture are revealed through the poem. Primarily, 
                how they act towards each other. Women are seen for their beauty 
                over their qualifications and abilities, and Octavio Paz would like 
                to change that. 
            </h4>
        </div>
        
        <div class="col-md-8 col-md-offset-2">
            <iframe class="full-width doc-height" src="https://docs.google.com/document/d/e/2PACX-1vQGr0hayG1fVwFbIbsZmnRg-aAHgFr4sxobYr3xMDKaJ7TnyGhekAeqWpAab5Y2oYE7Sff1U2QLYDhW/pub?embedded=true"></iframe>
        </div>
    </div>
    
    <div class="parallax resort-image"></div>
    
    <div class="content container">
        <h1 class="text-center divider">Song</h1>
        <h2 class="text-center">La Llorana by Chavela Vargas</h2>
        
        <div class="col-md-6 col-md-offset-3">
            <iframe class="video" src="https://www.youtube.com/embed/T0ywZ0LZG-A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        
        <div class="col-md-6 col-md-offset-3">
            <h3 class="text-center">Response</h3>
            <h4>
                La Llorona is a hispanic legend of a lady that lost her children 
                and now haunts people as a ghost. The song I listened to was 
                slow and sad, played in a minor key, and sung in spanish.  It 
                seemed to not only be about the legend of the lady, but connect 
                to everyone that’s lost children or family and setting a moment 
                to feel sad and remember them. This cover of the song was made 
                for a movie on the life of Frida Kahlo, an artist connected to 
                Diego Rivera and the communist movement. Kahlo had a painful 
                life, hit by a bus as a young child and a series of surgeries 
                left her in permanent pain. She channeled her sorrows into 
                artwork and the various social causes she joined. The legend of 
                La Llorona is fitting for Frida Kahlo’s life, and the song does 
                a good job drawing the comparison. 
            </h4>
        </div>
        
        <div class="col-md-8 col-md-offset-2">
            <iframe class="full-width doc-height" src="https://docs.google.com/document/d/e/2PACX-1vRqcHzpk7s24getQ1-hmKPwYl_CirrWETOh-RWgnWjJFtNDCOGMMZifvmR0gaykUXsiu0j1qIrG7DLB/pub?embedded=true"></iframe>        
        </div>
    </div>
    
    <div class="parallax flag-image"></div>
    
    <div class="content container">
        <h1 class="text-center divider">Art</h1>
        <h2 class="text-center">The Flower Carrier by Diego Rivera</h2>
        
        <div class="col-md-8">
            <img class="flower-carrier" src="http://criticallegalthinking.com/wp-content/uploads/2016/04/The-Flower-Carrier-600x454.jpg" alt="The Flower Carrier">
        </div>

        <div class="col-md-4">
            <h3 class="text-center">Response</h3>
            <h4>
                The painting shows a man struggling to carry a large basket of 
                flowers on his back. A woman is helping him adjust the basket 
                so he can carry it. The painting makes a point on the common
                man of Mexico. It does not look like an easy life, the man is 
                on his hands and knees struggling. He relies on the assistance 
                of others to be able to do his job and survive. This is the 
                point Diego Rivera makes with his art. Rivera was the founder 
                of the communist party in Mexico. Sympathetic to the plight of 
                the common man, Rivera wanted to expose the struggles and 
                hardships the people of Mexico endure. While the party never 
                gained massive political power, this painting along with 
                Rivera’s other works are noted for representing a 
                counterculture movement in Mexico. Mexico is a country with 
                large wealth inequality, 27% live under the poverty line, and 
                some people wanted to take action. Rivera’s influence over the 
                culture of Mexico is notable, and this painting provides a good 
                example of his intentions. 
            </h4>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <iframe class="full-width doc-height" src="https://docs.google.com/document/d/e/2PACX-1vQ3osxpY-4WcuteObWMgwXjQsvuz7eEzt18XoWVBJJUpCA-HwkfhuXUbtkU0xVTccczZ4THzcPVeXl3/pub?embedded=true"></iframe>
        </div>
        
    </div>
    
    <div class="parallax night-image"></div>
    
    <div class="content container">
        <h1 class="text-center divider">Article</h1>
        <h2 class="text-center"><a href="http://www.everyculture.com/Ma-Ni/Mexico.html" target="_blank">EveryCulture</a></h2>
        
        <div class="col-md-6 col-md-offset-3">
            <h3 class="text-center">Response</h3>
            <h4>
                The article gives a lot of historical background on the origins 
                of Mexico and why the culture is what it is today. There’s a 
                wealth of information, from language to ethnic relations to 
                food. Something I didn’t think about in my research was the 
                eating schedule in Mexico. They typically eat a large meal 
                between 2 and 4 pm and a dinner between 8 and 10. Different 
                than the American schedule, and it’s only one small piece of 
                culture that makes Mexico unique. Additionally, the article 
                talked of social relations and classes in Mexico. As alluded by 
                the previous artifacts I examined, I found there to be a large 
                wealth gap in Mexico. The top fifth of earners take home half 
                of the income of the country, while a quarter of the people live 
                below the poverty line. Gated communities are common among the 
                wealthy, and they will even hire armed guards for further 
                security. The wealthy enjoy their status and want to hold on to 
                it. Mexico also has its own unique holidays, one such is Dia de 
                los Muertos, or Day of the Dead. Around the same timeframe that 
                Halloween is celebrated in America, Dia de los Muertos is a 
                multiple day long celebration of the dead. They celebrate the 
                lives of family that have passed on with city-wide parties and 
                parades. Mexico has a culture ripe with customs and 
                celebrations, social inequality and political unrest, and 
                minute intricacies that make it unique compared to the rest of 
                the world. 
            </h4>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <iframe class="full-width doc-height" src="https://docs.google.com/document/d/e/2PACX-1vQQ4bK_R_xTi_vrl-eRuQDPBB7WFKZbZNIztq4GQhrpSGlfyHmcdcDLBgbEbSyhed31_ROPaKZMRb8x/pub?embedded=true"></iframe>
        </div>
    </div>

    
    

</div>