/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body, .home, html {
    height: 100%;
}

.home-image {
    background-image: url("https://wallpaperstudio10.com/static/wpdb/wallpapers/1920x1080/167155.jpg");
}

.city-image {
    background-image: url("https://wallpaperscraft.com/image/mexico_ocean_sea_beach_building_resort_47730_1920x1200.jpg");
}

.resort-image {
    background-image: url("https://wallpaperscraft.com/image/mexico_resort_ocean_shore_buildings_116370_1920x1200.jpg");
}

.parallax {
    height: 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    margin-top: -35%;
    margin-bottom: 35%;
}

.title-text {
    font-size: 200px;
    text-shadow: 5px 1px aliceblue;
}

.font {
    font-family: 'Mrs Sheppards', cursive;
}

.align-right {
    text-align: right;
}

.full-width {
    width: -webkit-fill-available;
}

.doc-height {
    height: 500px;
}

.title-content {
    margin-top: -230px;
}

.content {
    font-family: 'Bellefair', serif;
    padding-bottom: 30px;
    //box-shadow: 0 -10px 10px 7px aliceblue;
}

.divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.divider::before {
    flex: 1;
    margin: 0 .45em 0 0;
}

.divider::after, .divider::before {
    content: '';
    height: 2px;
    background: #333;
}

.divider::after {
    flex: 1;
    margin: 0 0 0 .45em;
}