<!DOCTYPE html>
<html>
<head>
  <title>Mexico</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <link href="https://fonts.googleapis.com/css?family=Mrs+Sheppards" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">


  <%= csrf_meta_tags %>
  
</head>
<body>

<%= yield %>

</body>
</html>
